<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spaceflight News Articles</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
        <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
        <script>
            // CORS workaround
            document.addEventListener("htmx:configRequest", (evt) => {
                evt.detail.headers = [];
            });

            // Set the value of the 'search-input' element to the 'search' parameter from the URL if it exists
            htmx.onLoad(function () {
                const urlParams = new URLSearchParams(window.location.search);
                const query = urlParams.get("search");
                if (query) {
                    document.getElementById("search-input").value = query;
                }
            });
        </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css" />
    </head>
    <body>
        <h1>
            Spaceflight News Articles
            <span class="htmx-indicator">
                <img src="img/block.svg" />
            </span>
        </h1>
        <p>
            Showcase how <b>infinite scrolling</b> rocks on htmx with JSON data APIs. Head to
            <a href="https://github.com/ngshiheng/spaceflight-news/blob/main/articles.html">GitHub</a>
            and peep the source code!
        </p>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/articles.html"><u>Articles</u></a>
            </li>
            <li><a href="/blogs.html">Blogs</a></li>
            <li><a href="/reports.html">Reports</a></li>
        </ul>
        <div hx-ext="client-side-templates">
            <input id="search-input" autofocus hx-get="https://api.spaceflightnewsapi.net/v4/articles/" hx-indicator=".htmx-indicator" hx-target="#result" hx-trigger="load delay:100ms, keyup changed delay:500ms, search" hx-on::after-request="const url = new URL(location); url.searchParams.set('search', this.value); history.pushState({}, '', url);" name="search" nunjucks-template="articles-template" placeholder="Search articles..." type="search" />
            <template id="articles-template">
                <!-- count -->
                {% if not previous %}
                <i> Found {{ count }} articles.</i>
                {% endif %}

                <!-- results -->
                {% for article in results %}
                <div>
                    <hr />
                    <h2>
                        <a href="{{ article.url }}">{{ article.title }}</a>
                    </h2>
                    <h4>Published by {{ article.news_site }}, {{ article.published_at | truncate(10, true, "")}}</h4>
                    <p>{{ article.summary }}</p>
                </div>
                {% endfor %}

                <!-- infinite scrolling -->
                {% if next %}
                <div hx-get="{{ next }}" hx-swap="outerHTML" hx-trigger="revealed" nunjucks-template="articles-template">
                    <span>
                        <img src="img/bar.svg" />
                    </span>
                </div>
                {% endif %}
            </template>
            <div id="result"></div>
        </div>
        <footer>
            <hr />
            <p>Created by <a href="https://jerrynsh.com">Jerry Ng</a>.</p>
        </footer>
    </body>
</html>
