<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spaceflight News</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
    <script>
      // CORS workaround
      document.addEventListener("htmx:configRequest", (evt) => {
        evt.detail.headers = [];
      });
    </script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css"
    />
  </head>
  <body>
    <h1>Spaceflight News Blogs</h1>
    <p>
      Numbered pagination demonstration using
      <a href="https://htmx.org">htmx</a>
      with JSON data APIs.
    </p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/articles.html">Articles</a></li>
      <li><a href="/blogs.html">Blogs</a></li>
      <li><a href="/reports.html">Reports</a></li>
    </ul>
    <br />

    <div hx-ext="client-side-templates">
      <input
        name="search"
        type="search"
        placeholder="Search blogs..."
        hx-get="https://api.spaceflightnewsapi.net/v4/blogs/"
        hx-trigger="keyup changed delay:500ms, search"
        hx-target="#result"
        nunjucks-template="blogs-template"
      />
      <br />
      <div
        hx-get="https://api.spaceflightnewsapi.net/v4/blogs/"
        hx-swap="innerHTML show:window:top"
        hx-trigger="revealed"
        hx-target="#results"
        nunjucks-template="blogs-template"
      >
        <template id="blogs-template">
          {% set totalPages = (count // 10) - 1 %} {% set offsetRegex
          =r/offset=(\d+)/g %} {% set offset = offsetRegex.exec(next)[1] or
          offsetRegex.exec(previous)[1] %} {% set currentPage = (offset // 10)
          %} Page {{ currentPage }} of {{ totalPages }}

          <br />
          <br />

          <a
            href
            hx-get="https://api.spaceflightnewsapi.net/v4/blogs/?limit=10&offset=0"
            hx-target="#results"
            >« 1</a
          >

          ... {% set pages = range(currentPage -3 ,currentPage + 4) |
          select('greaterthan', 1) | select('lessthan', totalPages) %} {% for i
          in pages %}

          <a
            href
            hx-get="https://api.spaceflightnewsapi.net/v4/blogs/?limit=10&offset={{ (i - 1) * 10 }}"
            hx-target="#results"
            >{{ i }}</a
          >

          {% endfor %} ...

          <a
            href
            hx-get="https://api.spaceflightnewsapi.net/v4/blogs/?limit=10&offset={{ count // 10 * 10 }}"
            hx-target="#results"
            >{{ totalPages }} »</a
          >

          <br />
          <div id="result">
            {% for blog in results %}

            <hr />
            <h2><a href="{{ blog.url }}">{{ blog.title }}</a></h2>
            <h5><span></span> Post by {{ blog.news_site }}</h5>
            {% if blog.featured %}
            <h5>
              <span>Featured</span>
            </h5>
            {% endif %}
            <p>{{ blog.summary }}</p>
            <br /><br />
            {% endfor %}
          </div>
        </template>
        <div id="results"></div>
      </div>
    </div>

    <hr />
    <footer>
      <p>Created by <a href="https://jerrynsh.com">Jerry Ng</a>.</p>
    </footer>
  </body>
</html>
